
html {
    background-color: rgb(134, 36, 226);
    border: 0.5em solid rgb(105, 54, 54);
}

p {
    font-size: 64px;
    width: 4ch;
    color: rgb(252, 21, 252);
    border: 5px dashed rgb(6, 240, 84);
    width: 50%;
    padding: 4.8px;
}

h1 {
    font-size: 100px;
    color: aqua;
}

h2 {
    font-size: 50px;
    color: rgb(10, 10, 218);
} 
h3 {
    font-size: 50px;
    color: rgb(177, 23, 138);
}
.highlight {
    text-transform: uppercase;
    background-color: rgb(32, 199, 82jh);
}

.gray {
    color: rgb(9, 175, 120);
}

.second {
    font-style: italic;
    font-size: 24px;
}

p span {
    text-transform: uppercase;
    background-color: goldenrod;
    width: 4ch;
}

.blue {
    color: rgb(147, 172, 35);
}

box {
    border: 5px solid rgb(247, 207, 214);
    padding: 2rem;
    font-size: 7em;
}

main {
    width: 50%;
}

h4 {
    border: 3px dashed red;
    width: 400px;
    font-size: 3rem;
    padding: 1.5em;
}

main {
    border: 2px dashed red;
    font-size: 1.5rem;
    border-top: 4px solid rgb(52, 194, 52);
    border-left: 10px dotted blue;
    margin: 1.5ren;
    /*margin-top: 2en;
    margin-right: 2en;
    margin-bottom: 2en;
    margin-left: 2en;*/
    padding: 3em ;
    outline: 5px solid rgba(175, 144, 175, 0.973);
    outline-offset: 18px;
}

.circle {
    margin: 5rem auto;
    background-color: rgb(240, 240, 27);
    width: 100px;
    height: 100px;
    border: 2px solid #01130f;
    border-radius: 50%;
    outline: 4px solid rgb(6, 207, 40);
    outline-offset: 0.25rem;
}
pre {
    font-size: 30px;
}
